//-
//- Homepage
//-
extends ../layouts/simple

block vars
  - var pageTitle     = 'AL-Huda Photo Slide';
  - var pageName      = 'home';
  - var bodyClass     = 'home';

block main
  .photo-slide
    .photo-slide--main

    .photo-slide--nav
    .photo-slide--loader
      ._icon
        ._icon--logo
        ._icon--circle
